---
// import Nav from "./Nav.astro";
import TheLogo from "./TheLogo.astro";
// import {navData} from "../data/navData";
import { useStoryblokApi } from '@storyblok/astro'
import { languages, getTransLink } from '../utils/langs'

const { language, langSwitch } = Astro.props
const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get('cdn/stories/config', {
  version: 'draft',
  resolve_links: 'url',
})
const headerMenu = data?.story?.content?.header_menu

---
<header class="header masthead" role="banner">
  <div class="grid">

    <div class="branding">
      <a class="logo" href={getTransLink(language, '/')} rel="home" title="take me home">
        <TheLogo />
      </a>
    </div>

    <!-- menu -->
    <nav class="navigation" role="navigation">
      <ul class="mdl-menu">
        {
          headerMenu.map((menu) => (
            <li class="menu-item">
              <!--<a href={`/${menu.link.cached_url}`} class="hover:text-[#50b0ae]">
                {menu.link.story.name}
              </a>-->
              <!--<a href={getTransLink(language, '/about')}>About</a>-->
              <a href={getTransLink(language, `/${menu.link.cached_url}`)}>{menu.link.story.name}</a>
            </li>
            <!--<li class="langSwitch">
              {
                languages.map((lang) => (
                  <a
                    class={`lang-toggle ${lang === language ? 'bg-gray-200' : ''}`}
                    href={langSwitch[lang]}
                  >
                    {lang}
                  </a>
                ))
              }
            </li>-->
          ))
        }
      </ul>
    </nav>

  </div>
</header>
<style is:global>
  .langSwitch {
    /* display: flex !important; */
    display: none !important;
  }
</style>